[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-pinecone = "*"
black = "*"
langchain-google-vertexai = "*"
pypdf = "*"
faiss-cpu = "*"
dotenv = "*"
langchain-community = "*"
django = "*"
supabase = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.13.3"
